<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="C:\Program Files\nodejs\22.23.2\node.exe"
                arguments="D:\home\site\wwwroot\server.js %ASPNETCORE_PORT%"
                stdoutLogEnabled="true"
                stdoutLogFile="D:\home\LogFiles\stdout"
                startupTimeLimit="120"
                hostingModel="OutOfProcess">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
